<style>
    .f-info{
        background-color: black;
    }
    .f-info-socials{
        color:white;
    }
    .f-info-brand{
        color:white;
    }
    .f-info-links a{
        color:blue !important;
        text-decoration: underline;
    }
    
</style>

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand"> &copy;Fishernet Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            &nbsp; &nbsp; &nbsp; 
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
